/*default stylings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
}

i {
  pointer-events: none;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Fredoka", sans-serif;
}

/* Navigation Bar */
header {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex: 0.3;
}

.logo h2 {
  margin-left: 0.3rem;
}

nav {
  /* flex: 1; */
  width: 50%;
  margin: 0 5rem;
  flex: 0.5;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.fa-magnifying-glass {
  color: rgb(173, 173, 173);
}

.fa-basket-shopping {
  pointer-events: none;
}

.basket-counter {
  position: relative;
  background-color: red;
  color: white;
  padding: 0.1rem 0.5rem;
  display: inline-block;
  border-radius: 100%;
  left: 15.8rem;
  top: -1.5rem;
}

.search-area {
  box-shadow: 5px 10px 25px 2px rgb(240, 240, 240);
  padding: 0.5rem;
  border-radius: 10px;
}

.search-area input {
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding: 0 0.5rem 0 0.5rem;
  border-width: 0.12rem;
  border-color: rgb(202, 202, 202);
  font-family: "Poppins", sans-serif;
}

.search-area input:focus {
  border-top: none;
  border-bottom: none;
  outline: none;
}

/* First Intro Div */
/* section styling */
.intro {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
/* descreption part styling */
.intro .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-elem {
  background-color: #fdecec;
  color: #f55556;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5rem;
}

.intro h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin: 1rem 0 3rem 0;
}

.intro .desc-p {
  margin-bottom: 2rem;
}

.intro span {
  font-weight: 300;
  color: rgb(252, 87, 88);
}

.intro-button-container {
  display: flex;
}

.orderNow-btn {
  background-color: rgb(252, 87, 88);
  color: white;
  border: none;
  border-radius: 10px;
  height: 3.5rem;
  width: 8rem;
}

.order-process {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.orderProcess-btn {
  border-radius: 50%;
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  color: yellow;
  box-shadow: 4px 5px 20px rgb(177, 176, 176);
  border: none;
}

.orderProcess-btn i {
  color: rgb(219, 198, 10);
}

/* visual content part styling */

.intro .visual-content {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.intro .visual-content img {
  width: 70%;
  height: auto;
  /* flex: 0.5; */
}

.quickBuy-card {
  background-color: rgb(255, 255, 255, 0.3);
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 7rem;
  left: 4rem;
  padding: 2rem 0.5rem;
  border: none;
  border-radius: 20px;
  width: 13rem;
  height: auto;
  user-select: none;
}

.quickBuy-card hr {
  height: 0.2rem;
  width: 3rem;
  background-color: #f9b944;
  border: none;
  margin: 1rem 0;
}

.quickBuy-card button {
  background-color: #f55556;
  color: white;
  border: none;
  position: relative;
  top: 4rem;
  border-radius: 10px;
  width: 4rem;
}

.info-card {
  background-color: rgb(255, 255, 255, 0.3);
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  display: flex;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  left: 88%;
  top: 40%;
  justify-content: space-between;
  align-items: center;
}

.info .info-card p {
  color: grey;
}

.info-card .info {
  font-size: 0.8rem;
}

.fa-clock {
  color: #03a66b;
  font-size: 2rem;
  margin-right: 1rem;
}

/* /////NEXT SECTION//////////////// */

.services {
  background-color: #fef5f5;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services .textContent {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
}

.services .textContent p {
  color: rgb(252, 87, 88);
  font-weight: bold;
  font-size: 1rem;
}

.servicesCards {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.services .card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 3rem;
  text-align: center;
  margin: 0 2rem;
  transition: all 0.5s ease-in-out;
  transform-origin: 0% 0%;
  border-radius: 10px;
}

.services .card:hover {
  transform-origin: 0% 0%;
  transform: rotate(5deg);
}

.services span {
  font-size: 4rem;
  color: rgb(252, 87, 88);
  margin-bottom: 2rem;
}

.services h3 {
  margin-bottom: 1rem;
}

/* ////////////////NEXT SECTION///////////////////////// */

.chooseUs {
  min-height: 80vh;
  width: 80%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chooseUs .visual-content {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex;
}

.chooseUs .img-container {
  background-color: #fef5f5;
  margin-top: 3rem;
  border-radius: 100%;
  height: fit-content;
  position: relative;
  width: 30rem;
  height: 30rem;
  align-self: flex-start;
  padding: 3rem;
  left: 5%;
  margin-right: 20rem;
}

.chooseUs .avatar {
  position: absolute;
  height: 35rem;
  width: auto;
  top: -30%;
  left: 16%;
  filter: drop-shadow(2px -1px 15px rgb(156, 156, 156));
}
.chooseUs .stroke {
  position: absolute;
  top: 33%;
  left: 9%;
  width: 25rem;
}

.chooseUs .quickBuy-card {
  background-color: white;
  position: absolute;
  z-index: 3;
  left: 90%;
  top: 0;
}

.chooseUs .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4rem;
  font-size: 1rem;
  align-items: center;
  word-wrap: break-word;
  max-width: 35rem;

  flex: 1;
}

.chooseUs .description .subT {
  align-self: flex-start;
  color: #03a66b;
}

.chooseUs .description h1 {
  align-self: flex-start;
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 1rem 0;
}

.exploreNow-btn {
  background-color: rgb(252, 87, 88);
  color: white;
  border: none;
  border-radius: 10px;
  height: 4.5rem;
  width: 10rem;
  align-self: flex-start;
  margin-top: 1rem;
}

/* //////NEXT SECTION//////////////// */

.homeDelivery {
  min-height: 80vh;
  width: 80%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeDelivery .description {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  max-width: 45rem;
  justify-content: flex-start;
}

.homeDelivery .description .subT {
  color: #f9ba45;
  align-self: flex-start;
}

.homeDelivery .description h1 {
  align-self: flex-start;
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 1rem 0;
}

.homeDelivery .exploreNow {
  align-self: flex-start;
  color: rgb(252, 87, 88);
  background-color: white;
  border: solid 2px rgb(252, 87, 88);
  border-radius: 10px;
  height: 4.5rem;
  width: 10rem;
  align-self: flex-start;
  margin-top: 1rem;
}

.homeDelivery .visual-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.8;
}

.homeDelivery .visual-content .img-container {
  position: relative;
}

.homeDelivery .chefImg {
  width: 120%;
}

.homeDelivery .Stroke2 {
  position: absolute;
  top: 95%;
  left: 5%;
  width: 4rem;
}

.homeDelivery .infoCard {
  position: absolute;
  top: 30%;
  left: 90%;
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -2px 2px 20px rgb(194, 194, 194);
  padding: 1rem 1rem;
  text-align: center;
}

.appDownload {
  background-color: #fef5f5;
  width: 100%;
  margin: 5rem 0;
  padding: 10rem 0;
  overflow: hidden;
}

.appDownload .content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appDownload .description {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  max-width: 45rem;
  justify-content: flex-start;
}

.appDownload .description h1 {
  align-self: flex-start;
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 1rem 0;
}

.appDownload .description .subT {
  color: rgb(252, 87, 88);
  align-self: flex-start;
}

.appDownload .visual-content {
  flex-basis: 40rem;
  display: flex;
  justify-content: center;
}

.appDownload .visual-content img {
  width: 22rem;
}

.appDownload .button-container {
  align-self: flex-start;
}

.appStore-btn,
.playStore-btn {
  align-self: flex-start;
  color: black;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 10px;
  height: 6rem;
  width: 15rem;
  align-self: flex-start;
  margin: 1rem 1rem 0 0;
  font-size: 2rem;
}

footer {
  min-height: 35vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topSection .description {
  flex-basis: 20rem;
  margin-right: 10rem;
}

.topSection ul {
  list-style: none;
  line-height: 2.5rem;
  flex-basis: 5rem;
}

.topSection ul h4 {
  margin-bottom: 2rem;
}

.navigationList3 {
  flex-basis: 20rem;
}

.navigationList3 ul {
  line-height: 1.5rem;
}

.topSection .logo {
  margin-bottom: 2rem;
}

footer hr {
  width: 50%;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  align-self: center;
  margin: 2.5rem 0 1.5rem 0;
}

footer .bottomSection {
  display: flex;
  justify-content: space-between;
}

.quickBuy-card img,
.quickBuy-card h2,
.quickBuy-card h4,
.quickBuy-card hr,
.quickBuy-card p {
  pointer-events: none;
}

/* //////Psuedo Classes//// */

li {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
li:hover {
  color: rgb(252, 87, 88);
  font-weight: normal;
}

/* /////Basket Card////// */

.overlay {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

.basket {
  width: 98%;
  margin: auto;
  background-color: #fef5f5;
  position: sticky;
  bottom: 2rem;
  min-height: 80vh;
  max-height: 80vh;
  z-index: 5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30rem);
  transition: all 0.5s ease-in-out;
  overflow-y: hidden;
}

.basket.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  box-shadow: 1000px 1000px 100px black;
}

.basket .cancel {
  align-self: flex-end;
  border-radius: 100%;
  padding: 0.81rem 1rem;
  border: none;
  box-shadow: -3px 5px 50px rgb(98, 98, 98);
  background-color: rgb(252, 87, 88);
  color: white;
  z-index: 4;
  cursor: pointer;
}

.basket .content-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 2rem auto;
  justify-content: flex-start;
  overflow-y: scroll;
  font-size: 1.2rem;
}

.basket .indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3rem 2rem 3rem;
}

.basket .itemList {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  background-color: white;
  overflow-y: scroll;
  border-radius: 20px;
}

/* ////////////////////List Item////////////////////////// */

.basket-item {
  display: flex;
  width: 90%;
  height: 7rem;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: -4px 3px 10px rgb(167, 167, 167);
  font-size: 1.5rem;
  padding: 0 1rem;
}

.basket-item .itemImg {
  width: 10%;
  height: 80%;
  object-fit: scale-down;
}

.basket-item input {
  width: 20%;
  height: 55px;
  text-align: center;
  font-size: 1.5rem;
}
