/*default stylings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
}

i {
  pointer-events: none;
}
a {
  color: black;
  text-decoration: none;
}
/* Navigation Bar */
header {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex: 0.3;
}

.logo h2 {
  margin-left: 0.3rem;
}

nav {
  /* flex: 1; */
  width: 50%;
  margin: 0 5rem;
  flex: 0.5;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.fa-magnifying-glass {
  color: rgb(173, 173, 173);
}

.fa-basket-shopping {
  pointer-events: none;
}

.basket-counter {
  position: relative;
  background-color: red;
  color: white;
  padding: 0.1rem 0.5rem;
  display: inline-block;
  border-radius: 100%;
  left: 15.8rem;
  top: -1.5rem;
}

.search-area {
  box-shadow: 5px 10px 25px 2px rgb(240, 240, 240);
  padding: 0.5rem;
  border-radius: 10px;
}

.search-area input {
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding: 0 0.5rem 0 0.5rem;
  border-width: 0.12rem;
  border-color: rgb(202, 202, 202);
  font-family: "Poppins", sans-serif;
}

.search-area input:focus {
  border-top: none;
  border-bottom: none;
  outline: none;
}

.section {
  width: 96%;
  margin: 3rem auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  opacity: 0.9;
}

.filterDivsContainer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.filterDivsContainer .divsContainer {
  /* padding: 1rem; */
  display: flex;
  width: 98%;
  margin: auto;
}

.filterDiv {
  background-color: black;

  color: white;
  display: flex;
  font-size: 2rem;
  margin: 0 2rem;
  height: 8rem;
  width: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-blend-mode: screen;
}

.filterDiv h3 {
  text-shadow: 1px 1px rgb(126, 126, 126);
}
.veggieFilterDiv {
  background-image: url("res/veggieBanner.jpg");
}
.fruitFilterDiv {
  background-image: url("res/fruitBanner.jpg");
}
.dairyFilterDiv {
  background-image: url("res/dairyBanner.jpg");
}
.othersFilterDiv {
  background-image: url("res/othersBanner.jpg");
}

.itemShopContainer {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  background-image: linear-gradient(
    145deg,
    white 60%,
    rgb(252, 87, 88, 0.8) 40%
  );
}

.itemShop {
  height: 90%;
  padding: 1rem;
}
